<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recomed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecoMed">
        <activity
            android:name=".perfil_cerrar_sesion_GOD"
            android:exported="false" />
        <activity
            android:name=".Borrar"
            android:exported="false" />
        <activity
            android:name=".perfil.Perfil_cerrar_sesion"
            android:exported="false"
            android:label="@string/title_activity_perfil_cerrar_sesion"
            android:theme="@style/Theme.RecoMed.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>